/** @format */

body {
  background: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0 2em;
  color: #fff;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.625rem;
  font-weight: 300;
}

p {
  color: grey;
  font-size: 1.3125rem;
}

a {
  color: aquamarine;
  font-size: 1rem;
  display: block;
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 65rem) {
  footer {
    text-align: right;
  }
}
